.login-page {
    background-image: url(../images/bg-login.jpg) !important;
    background-position: center center !important;
    background-repeat:  no-repeat !important;
    background-attachment: fixed !important;
    background-size:  cover !important;
}

.login-logo a, .register-logo a {
    color: #ffffff !important;
}

.login-box, .register-box {
    width: 360px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.register-box, .login-box {
    background-color: #9c9fa55e;
    border-radius: 10px;
}

.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 0%;
    font-weight: 300;
    margin-top: 2%;
}

.login-box-body, .register-box-body {
    background: #ffffff;
    padding: 20px;
    border-top: 0;
    color: #000;
}

.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}
